// Нормализация блочной модели
*,
::before,
::after {
  box-sizing: border-box;
}
// Убираем паддинги и марджины у списков, убираем маркеры
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Убираем марджины у параграфов
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
}
