// Переменные цветов
$accent-light: rgba(0, 159, 223, 1);
$accent-dark: rgba(10, 41, 115, 1);
$bg-white: rgba(255, 255, 255, 1);
$bg-grey: rgba(235, 235, 235, 1);
$grey: rgba(237, 237, 237, 1);
$text: #292929;
$bright-green: rgba(80, 219, 58, 1);
$dark-green: rgba(182, 204, 45, 1);
$red: rgba(223, 34, 22, 1);

//Переменные шрифтов
$font-family: "Inter", sans-serif;
